body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: green;
}

#computer-cards img {
    width: 175px;
    margin: 10px;
}

#player-cards img {
    width: 175px;
    margin: 1px;
}

.deal {
    width: 100px;
    font-size: 20px;
    border: none;
}

.cbtn {
    width: 150px;
    font-size: 20px;
    border: none;
}

.pbtn {
    width: 100px;
    font-size: 20px;
    border: none;
}